body{
	background-color: #DDDDDD;
}
.jumbotron{
	background-color: #1B1B1B;
	text-align: center;
}
.green{
	color: #76b900;
}
h1{
	color: white;
}
h2, h3{
	text-align: center;
}
h2{
	margin-bottom: 30px;
}
.card_producto{
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	flex: 1 200px;
	padding: 2px 5px;
	align-items: center;
}
.card_producto .btn{
	background-color: #76b900;
	border: none;
	font-weight: bold;
	width: 100%;
}
footer{
	background-color: #343434;
	color: white;
	margin-top: 20px;
}
address{
	margin: 0;
}
.row{
	margin: 0;
}